$green: #1DB954;

:root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: center;
    button {
        display: inline-block;
        border: none;
        border-radius: 24px;
        padding: 1rem 2rem;
        margin: 0;
        text-decoration: none;
        background: $green;
        color: #ffffff;
        font-family: sans-serif;
        font-size: 1rem;
        cursor: pointer;
        text-align: center;
        transition: background 250ms ease-in-out, 
                    transform 150ms ease;
        &:hover, &:focus {
            background: #228946;
        }
        &:focus {
            outline: 1px solid #fff;
            outline-offset: -4px;
        }
        &:active {
            transform: scale(0.99);
        }
    }
}
.top-tracksa-heading {
    flex-basis: 100%
}
.top-tracks-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}
.timeframe-button, .quantity-button {
    margin: 10px;
    border-radius: 10px;
    border: none;
}
.track-cards-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    @media only screen and (max-width: 600px) {
        & {
            flex-direction: column;
        }
     }
}
.track-card {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.25);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);  
    padding: 38px;  
    filter: drop-shadow(0 30px 10px rgba(0,0,0,0.125));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    text-align: center;
    height: 481px;
    width: 380px;
    margin: 10px;
    @media only screen and (min-width: 600px) {
        & {
          width: 320px;
        }
      }
    .track-image {
        height: 300px;
        width: 300px;
        left: 50%;
        border-radius: 12px;
        border: 1px solid rgba(255,255,255, 0.255)
      }
    h1 {
        color: rgba(255,255,255,0.98);
        text-transform: uppercase;
        font-size: 1rem;
    }
    p {
        color: #fff;
        font-family: 'Lato', sans-serif;
        text-align: center;
        font-size: 0.8rem;
        letter-spacing: 2px;
        text-transform: uppercase;
      }
  }
